
# Created by https://www.gitignore.io/api/visualstudiocode
# Edit at https://www.gitignore.io/?templates=visualstudiocode

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

### VisualStudioCode Patch ###
# Ignore all local history of files
.history

# End of https://www.gitignore.io/api/visualstudiocode

Dove/bin/
Dove/obj/
Dove.Tests/bin/
Dove.Tests/obj/

Dove/.vscode/*
!Dove/.vscode/settings.json
!Dove/.vscode/tasks.json
!Dove/.vscode/launch.json
!Dove/.vscode/extensions.json
Dove.Tests/.vscode/*
!Dove.Tests/.vscode/settings.json
!Dove.Tests/.vscode/tasks.json
!Dove.Tests/.vscode/launch.json
!Dove.Tests/.vscode/extensions.json